<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">工作服定制</h3>
				<ul class="mb3">
					<li><a href="/" class="link">首页</a></li>
					<li><a href="/products" class="link">定制服务</a></li>
					<li><a href="/values" class="link">关于我们</a></li>
					<li><a href="/post" class="link">新闻资讯</a></li>
					<li><a href="/contact" class="link">联系我们</a></li>
				</ul>
			</div>

			<div style="display:none">
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/" class="link">工作服定制</a></li>
					<li><a href="/contact" class="link">联系我们</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">联系方式</h3>
				<ul class="mb3">
					<li>联系电话：137-168-36976</li>
					<li>邮箱：756134895@qq.com</li>
					<li>地址：河北省廊坊永清云裳小镇E6—106</li>
					<li>京ICP备12043075号 </li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
