{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="center">
		
  <div style="width:560px;height:440px;border:#ccc solid 1px;" >
		<iframe width='560' height='440' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://surl.amap.com/17GHobW1w4JL'></iframe>
		</div>


		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

	</div>
</div>

{{ end }}
